.hotwire {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: orangered;
    text-decoration: inherit;
  }

  a:hover {
    color: orangered;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: orangered;
  }

  h2 {
    font-size: 2.4em;
    line-height: 1.1;
    color: orangered;
  }

  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }

  .item-box {
    width: 160px;
    height: 160px;
    padding: 4px;
  }

  .item-image {
    width: 152px;
    height: 152px;
    cursor: pointer;
  }

  .lightbox {
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, display, visibility;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-behavior: allow-discrete;
  }
  .lightbox.show {
    visibility: visible;
    opacity: 1;
  }
  .lightbox-backdrop {
    background-color: black;
    position: fixed;
    inset: 0;
    display: flex;
    place-items: center;
  }
  .lightbox-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .lightbox-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }

    a:hover {
      color: orangered;
    }
  }
}
